apiVersion: v1
kind: PersistentVolume
metadata:
  name: {{ website_persistent_volume_name }}
spec:
  capacity:
    storage: 1Gi
  accessModes:
    - ReadWriteMany
  nfs:
    server: {{ nfs_ip_address }}
    path: {{ nfs_file_path + username + "/" + new_namespace }}/website

---

apiVersion: v1
kind: PersistentVolume
metadata:
  name: {{ website_persistent_volume_name }}-virtualhost
spec:
  capacity:
    storage: 1Gi
  accessModes:
    - ReadWriteMany
  nfs:
    server: 172.26.103.3
    path: {{ nfs_file_path + username + "/" + new_namespace }}/website_virtualhost