apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: {{ website_persistent_volume_claim_name }}
spec:
  accessModes:
    - ReadWriteMany
  resources:
    requests:
      storage: 1Gi
  storageClassName: ""
  volumeName: {{ website_persistent_volume_name }}

---

apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: {{ website_persistent_volume_claim_name }}-virtualhost
spec:
  accessModes:
    - ReadWriteMany
  resources:
    requests:
      storage: 1Gi
  storageClassName: ""
  volumeName: {{ website_persistent_volume_name }}-virtualhost